@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.woff2') format('woff2'),
		url('../fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@mixin xl() { @media (max-width: 1399.98px) { @content; } }
@mixin lg() { @media (max-width: 1199.98px) { @content; } }
@mixin md() { @media (max-width: 991.98px) { @content; } }
@mixin sm() { @media (max-width: 767.98px) { @content; } }
@mixin xs() { @media (max-width: 575.98px) { @content; } }

@mixin from-xl() { @media (min-width: 1401px) { @content; } }
@mixin from-lg() { @media (min-width: 1201px) { @content; } }
@mixin from-md() { @media (min-width: 992px) { @content; } }
@mixin from-sm() { @media (min-width: 768px) { @content; } }
@mixin from-xs() { @media (min-width: 576px) { @content; } }

@mixin from($from) { @media (min-width: $from) { @content; } }
@mixin to($to) { @media (max-width: $to) { @content } }
