<div class="pin @@class">
	<button type="button" class="pin-btn" data-position="@@position"></button>
	<div class="pin-content">
		<div class="pin-product">
			<div class="pin-product__name">Flex (Multicolor edition)</div>
			<div class="pin-product__img">
				@@include('_jpg.html', {
					'img': 'pin-product',
					'height': '100',
					'width': '100',
					'class': '',
				})
			</div>
			<div class="pin-product__price">от 7 900 ₽</div>
			<button type="button" class="pin-product__btn">Купить</button>
		</div>
	</div>
</div>