.advantages {
	&__row {
		row-gap: 10px;
		--bs-gutter-x: 10px !important;
		@include from-lg() {
			--bs-gutter-x: 20px !important;
			row-gap: 20px;
		}
	}
	&--design {
		.advantage-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.advantage {
	&-card {
		display: flex;
		flex-direction: column;
		padding: 15px;
		background-color: var(--bs-dark);
		border-radius: 10px;
		min-height: 180px;
		height: 100%;
		gap: 30px;
		@include from-sm() { padding: 20px; }
		@include from-lg() {
			min-height: 295px;
			border-radius: 15px;
			padding: 30px;
		}
		&__icon {
			max-width: 54px;
			@include from-md() { max-width: 71px; }
		}
		&__content {
			margin-top: auto;
		}
		&__title {
			font-size: 18px;
			line-height: 1.12;
			margin-bottom: 10px;
			@include from-sm() { font-size: 24px; }
			@include from-lg() { font-size: 30px; }
		}
		&__text {
			font-size: 10px;
			line-height: 1.3;
			font-weight: 300;
			margin: 0;
			@include from-sm() {
				font-size: 16px;
				color: #C6C6C6;
			}
		}
	}
	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: var(--bs-dark);
		height: 100%;
		width: 100%;
		border-radius: 12px;
		min-height: 180px;
		overflow: hidden;
		@include from-sm() {
			min-height: 320px;
			border-radius: 15px;
		}
	}
	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		picture, img {
			height: 100%;
			width: 100%;
		}
		img {
			object-fit: cover;
		}
	}
	&-img {
		position: absolute;
	}
	&-content {
		position: relative;
		z-index: 1;
		width: 100%;
		padding: 15px;
		&__icon {
			color: var(--bs-white);
			height: 20px;
			width: 20px;
			margin-bottom: 15px;
			@include from-sm() {
				height: 30px;
				width: 30px;
				margin-bottom: 20px;
			}
		}
		&__title {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 0.6em;
			line-height: 1.11;
			color: var(--bs-white);
			@include from-sm() {
				font-size: 24px;
			}
			@include from-lg() {
				font-size: 30px;
			}
		}
		&__headline {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 0.6em;
			line-height: 1.11;
			color: var(--bs-white);
			@include from-sm() {
				font-size: 32px;
			}
			@include from-md() {
				font-size: 40px;
			}
			@include from-lg() {
				margin-bottom: 20px;
				font-size: 54px;
			}
		}
		&__text {
			font-weight: 300;
			font-size: 10px;
			line-height: 1.3;
			color: #C6C6C6;
			margin: 0;
			@include from-sm() {
				font-size: 16px;
			}
		}
		@include from-md() { padding: 18px; }
		@include from-lg() { padding: 24px; }
		@include from-xl() { padding: 30px; }
	}
	&:nth-child(1) {
		.advantage-img {
			bottom: 0;
			max-width: 60%;
			align-self: center;
			@include from-sm() {
				right: 0;
				max-width: 90%;
			}
		}
	}
	&:nth-child(2) {
		.advantage-img {
			max-width: 36%;
			bottom: 8%;
			left: 10%;
			align-self: center;
			@include from-sm() {
				bottom: 10%;
				max-width: 40%;
			}
		}
	}
	&:nth-child(3) {
		.advantage-img {
			max-width: 65%;
			bottom: 0;
			align-self: center;
			@include from-xs() {
				max-width: 80%;
				bottom: -2%;
			}
			@include from-sm() {
				bottom: 0;
				right: 0;
				max-width: 90%;
			}
		}
	}
	&:nth-child(4) {
		.advantage-img {
			bottom: 5%;
			align-self: center;
			max-width: 55%;
			@include from-sm() {
				max-width: 70%;
				bottom: 10%;
				right: 5%;
			}
		}
	}
	&:nth-child(5) {
		.advantage-img {
			bottom: 0;
			align-self: center;
			max-width: 80%;
			bottom: -5%;
			@include from-xs() {
				max-width: 75%;
			}
			@include from-sm() {
				max-width: 100%;
				right: 0;
				bottom: 0;
			}
			@include from-md() {
				max-width: 80%;
				// right: 0;
				// bottom: 0;
			}
		}
	}
	&:nth-child(6) {
		.advantage-img {
			bottom: 0;
			max-width: 65%;
			right: 0;
			@include from-xs() {
				max-width: 60%;
			}
			@include from-sm() {
				max-width: 70%;
			}
			@include from-md() {
				max-width: 70%;
			}
		}
	}
}