.header {
	position: absolute;
	z-index: 555;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bs-black);
	color: var(--bs-white);
	padding: 22px 0;
	max-height: 80px;
	@include from-xs() {
		max-height: 100px;
		padding: 22px 0;
	}
	&__logo {
		@include sm() {
			display: inline-flex;
			max-width: 82px;
		}
	}
	&-cart {
		position: relative;
		margin-right: 10px;
		&::after {
			content: attr(data-count);
			position: absolute;
			height: 22px;
			width: 22px;
			bottom: 7px;
			left: 15px;
			line-height: 22px;
			color: var(--bs-black);
			background-color: var(--bs-white);
			text-align: center;
			user-select: none;
			pointer-events: none;
			border-radius: 50px;
			font-size: 12px;
		}
	}
}