.hero {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	&-wrap {
		position: relative;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&-mask {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 15;
		background: radial-gradient(at 50% 42%, rgba(0,0,0, 0.55) 0%, rgb(0,0,0) 35%);
		z-index: 1;
		@include xs() {
			background: radial-gradient(500px 300px at 50% 46%, rgba(0, 0, 0, 0.55) 0%, rgb(0, 0, 0) 35%);
		}
	}
	&-title {
		position: relative;
		z-index: 10;
		text-align: center;
		text-transform: uppercase;
		color: #FFF8BA;
		font-weight: 400;
		line-height: 1.12;
		font-size: 10vw;
		@include from-md() {
			font-size: 109px;
		}
		span {
			opacity: 0;
			transition: opacity 0.3s;
			&.is-visible {
				opacity: 1;
			}
		}
	}
	@include from-sm() {
		min-height: 680px;
	}
	&-img {
		z-index: -1;
		position: absolute;
		pointer-events: none;
		user-select: none;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		
		picture, img {
			display: block;
			height: 100%;
			width: 100%;
		}
		img {
			object-fit: cover;
			object-position: center;
		}
	}
	&-inner {
		position: relative;
		display: flex;
		align-items: center;
		position: relative;
		min-height: calc(100vh - 80px);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 30px 0;
		&__media {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			video {
				object-fit: cover;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			&--overlay {
				&::after {
					content: '';
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: rgba(0,0,0, 0.6);
					pointer-events: none;
				}
			}
		}
		&__title {
			position: relative;
			line-height: 1.12;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			text-align: center;
			font-size: 8vw;
			font-weight: 600;
			color: var(--bs-white);
			@include from-md() {
				font-weight: 400;
				font-size: 89px;
			}
		}
		@include from-sm() {
			min-height: calc(100vh - 100px);
		}
	}
	&-product {
		position: relative;
		display: flex;
		align-items: end;
		padding: 40px 0;
		min-height: 590px;
		@include from-sm() {
			min-height: 640px;
			align-items: center;
		}
		.row {
			position: relative;
			z-index: 2;
		}
		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.03%, #161418 61.16%);
			@include from-sm() {
				background: linear-gradient(270deg, #161418 38.67%, rgba(22, 20, 24, 0) 100%);
			}
		}
		&__media{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			picture, img, video{
				height: 100%;
				width: 100%;
			}
			img {
				object-fit: cover;
				object-position: center center;
				@include from-sm() {
					object-position: center left
				}
			}
			video {
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				display: none;
			}
			@include from-sm() {
				width: 65%;
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
		&-head {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px !important;
			width: 100%;
			@include from-sm() {
				gap: 20px !important;
			}
		}
		&-body {
			width: 100%;
			@include from-sm() {
				margin-bottom: 47px;
			}
		}
		&-footer {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;
			&__row {
				display: flex;
				align-items: center;
				gap: 30px;
			}
			@include xs() {
				.btn {
					flex-grow: 1;
				}
			}
		}
	}
}