.product {
	&-row {
		--bs-gutter-y: 50px;
		@include sm() {
			--bs-gutter-y: 24px;
			--bs-gutter-x: 10px !important;
		}
	}
	&:hover {
		@include from-sm() {
			.product-body {
				box-shadow: 0px 0px 10px 0px rgba(170, 108, 255, 0.6);
				border-color: rgba(170, 108, 255, 0.4);
			}
			.product-img {
				&__front {
					opacity: 0;
					visibility: hidden;
				}
				&__back {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.product-btn {
			background-color: var(--bs-primary);
		}
	}
	&-slider {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		@include from-sm() {
			display: none;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
		.swiper-pagination {
			&-bullet {
				--swiper-pagination-bullet-size: 5px;
				--swiper-pagination-bullet-inactive-opacity: 1;
				--swiper-pagination-color: #C6C6C6;
				--swiper-pagination-bullet-inactive-color: transparent;
				border: 1px solid var(--swiper-pagination-color);
			}
		}
	}
	&-full {
		display: block;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		text-decoration: none;
		height: 100%;
		width: 100%;
		picture, img {
			display: block;
			width: 100%;
			height: 100%;
		}
		img { object-fit: cover; }
		&__content {
			position: absolute;
			z-index: 1;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 42%, rgba(0, 0, 0, 0.5) 100%);
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			padding: 1rem;
		}
		@include from-sm() {
			border-radius: 14px;
			&__content {
				padding: 25px;
			}
		}
	}
	&-badge {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		font-size: 14px;
		font-weight: 300;
		padding: 6px 8px;
		line-height: 1;
		top: 8px;
		left: 8px;
		border-radius: 6px;
		color: var(--bs-white);
		border: 1px solid var(--bs-primary);
		z-index: 2;
		&__icon {
			display: none;
		}
		@include from-sm() {
			padding: 10px;
			border-radius: 10px;
			top: 15px;
			left: 15px;
			font-weight: 400;
			font-size: 16px;
			&__icon { display: block; }
		}
	}
	&-btn {
		position: absolute;
		top: 8px;
		right: 8px;
		border-radius: 6px;
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: 0;
		z-index: 2;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8613 9.59082H19.7207V11.375H10.8613V20.3164H9.07715V11.375H0.238281V9.59082H9.07715V0.628906H10.8613V9.59082Z' fill='white'/%3E%3C/svg%3E%0A");
		background-size: 16px;
		transition: .25s ease;
		@include from-sm() {
			background-size: 24px;
			height: 42px;
			width: 42px;
			border-radius: 10px;
		}
	}
	&-body {
		position: relative;
		width: 100%;
		padding: 1rem;
		background-color: var(--bs-dark);
		margin-bottom: 10px;
		overflow: hidden;
		border-radius: 12px;
		overflow: hidden;
		aspect-ratio: 1 / 1.3;
		border: 1px solid transparent;
		transition: .25s ease;
		@include from-sm() {
			aspect-ratio: 1 / 1.6;
			margin-bottom: 20px;
			border-radius: 15px;
		}
	}
	&-name {
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 8px;
		text-decoration: none;
		color: var(--bs-white);
		@include from-sm() {
			margin-bottom: 12px;
			font-size: 22px;
		}
	}
	&-price {
		font-weight: 300;
		font-size: 14px;
		color: #C6C6C6;
		@include from-sm() {
			font-size: 16px;
		}
	}
	&-img {
		position: absolute;
		height: 100%;
		width: 100%;
		user-select: none;
		top: 0;
		left: 0;
		@include sm() {
			display: none;
		}
		&__front, &__back {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: .25s ease;
			pointer-events: none;
		}
		&__back {
			opacity: 0;
			visibility: hidden;
		}
	}
}