.product {
	&-filter {
		&-slider {
			.swiper-pagination {
				position: relative;
				bottom: 0;
				margin-top: 1rem;
				&-bullet {
					--swiper-pagination-bullet-size: 8px;
					--swiper-pagination-bullet-inactive-opacity: 1;
					--swiper-pagination-color: #C6C6C6;
					--swiper-pagination-bullet-inactive-color: transparent;
					border: 1px solid var(--swiper-pagination-color);
				}
			}
		}
		&-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			@include from-sm() { grid-template-columns: repeat(5, 1fr); }
			@include from-md() { grid-template-columns: repeat(7, 1fr); gap: 16px;}
			@include from-lg() { grid-template-columns: repeat(8, 1fr); gap: 20px;}
			@include from-xl() { grid-template-columns: repeat(8, 1fr); }
		}
		&-dropdown {
			.dropdown-menu {
				max-width: 375px;
				padding: 20px 25px;
			}
		}
		&-item {
			width: 100%;
			cursor: pointer;
			input:checked {
				& ~ .product-filter-item__wrap {
					background-color: var(--bs-primary);
					&::after {
						opacity: 1;
					}
				}
				& ~ [data-btn] {
					img {
						transform: rotate(45deg);
					}
					span {
						&::after {
							content: attr(data-text-new);
						}
					}
				}
			}
			&:hover {
				.product-filter-item__wrap {
					box-shadow: 0 0 10px 0 rgba(var(--bs-primary-rgb), 0.4);
				}
			}
			&__wrap {
				position: relative;
				background-color: var(--bs-black);
				display: flex;
				flex-direction: column;
				justify-content: center;align-items: center;
				padding: 16px 12px;
				border-radius: 6px;
				font-size: 14px;
				gap: 6px;
				user-select: none;
				width: 100%;
				height: 100%;
				& * {
					user-select: none;
					pointer-events: none;
				}
				&:not([data-btn])::after {
					content: '';
					position: absolute;
					height: 1rem;
					width: 1rem;
					background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.57402 8.50621L13.9379 13.8701L12.8577 14.9503L7.49379 9.58644L2.08023 15L1 13.9198L6.41356 8.50621L1.06208 3.15473L2.14231 2.0745L7.49379 7.42598L12.9198 2L14 3.08023L8.57402 8.50621Z' fill='white' /%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					top: 8px;
					right: 8px;
					opacity: 0;
					@include from-sm() {
						height: 20px;
						width: 20px;
					}
				}
				&[data-btn] {
					background-color: var(--bs-dark-bg-subtle);
					span {
						&::after {
							content: attr(data-text-old);
						}
					}
				}
				img { max-width: 40px; }
				@include from-sm() {
					border-radius: 10px;
					padding: 12px;
					font-size: 20px;
					img { max-width: 74px; }
				}
				
			}
			&.hidden {
				display: none;
			}
		}
	}
	&-row {
		--bs-gutter-y: 50px;
		@include sm() {
			--bs-gutter-y: 24px;
			--bs-gutter-x: 10px !important;
		}
	}
	&:hover {
		@include from-sm() {
			.product-body {
				box-shadow: 0px 0px 10px 0px rgba(var(--bs-primary-rgb), 0.6);
				border-color: rgba(var(--bs-primary-rgb), 0.4);
			}
			.product-img {
				&__front {
					opacity: 0;
					visibility: hidden;
				}
				&__back {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&-slider {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		@include from-sm() {
			display: none;
		}
		img, picture {
			height: 100%;
			width: 100%;
		}
		img {
			object-fit: contain;
		}
		.swiper-pagination {
			&-bullet {
				--swiper-pagination-bullet-size: 5px;
				--swiper-pagination-bullet-inactive-opacity: 1;
				--swiper-pagination-color: #C6C6C6;
				--swiper-pagination-bullet-inactive-color: transparent;
				border: 1px solid var(--swiper-pagination-color);
			}
		}
	}
	&-full {
		display: block;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		text-decoration: none;
		height: 100%;
		width: 100%;
		picture, img {
			display: block;
			width: 100%;
			height: 100%;
		}
		img { object-fit: cover; }
		&__content {
			position: absolute;
			z-index: 1;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 42%, rgba(0, 0, 0, 0.5) 100%);
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			padding: 1rem;
		}
		@include from-sm() {
			border-radius: 14px;
			&__content {
				padding: 25px;
			}
		}
		&:hover {
			box-shadow: 0px 0px 10px 0px rgba(var(--bs-primary-rgb), 0.6);
			border-color: rgba(var(--bs-primary-rgb), 0.4);
		}
	}
	&-badge {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		font-size: 14px;
		font-weight: 300;
		padding: 6px 8px;
		line-height: 1;
		top: 8px;
		left: 8px;
		border-radius: 6px;
		color: var(--bs-white);
		border: 1px solid var(--bs-primary);
		z-index: 1;
		&__icon {
			display: none;
		}
		@include from-sm() {
			padding: 10px;
			border-radius: 10px;
			top: 15px;
			left: 15px;
			font-weight: 400;
			font-size: 16px;
			&__icon { display: block; }
		}
	}
	&-btn {
		position: absolute;
		top: 8px;
		right: 8px;
		border-radius: 6px;
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: 0;
		z-index: 1;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8613 9.59082H19.7207V11.375H10.8613V20.3164H9.07715V11.375H0.238281V9.59082H9.07715V0.628906H10.8613V9.59082Z' fill='white'/%3E%3C/svg%3E%0A");
		background-size: 16px;
		transition: .25s ease;
		@include from-sm() {
			background-size: 24px;
			height: 42px;
			width: 42px;
			border-radius: 10px;
		}
		&:hover {
			background-color: var(--bs-primary);
		}
	}
	&-body {
		position: relative;
		width: 100%;
		padding: 1rem;
		background-color: var(--bs-dark);
		margin-bottom: 10px;
		overflow: hidden;
		border-radius: 12px;
		overflow: hidden;
		aspect-ratio: 1 / 1.3;
		border: 1px solid transparent;
		transition: .25s ease;
		@include from-sm() {
			aspect-ratio: 1 / 1.6;
			margin-bottom: 20px;
			border-radius: 15px;
		}
	}
	&-name {
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 12px;
		text-decoration: none;
		color: var(--bs-body-color);
		@include from-sm() {
			margin-bottom: 20px;
			font-size: 22px;
		}
	}
	&-price {
		font-weight: 300;
		font-size: 14px;
		color: #C6C6C6;
		@include from-sm() {
			font-size: 16px;
		}
	}
	&-img {
		position: absolute;
		height: 100%;
		width: 100%;
		user-select: none;
		top: 0;
		left: 0;
		@include sm() {
			display: none;
		}
		&__front, &__back {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: .25s ease;
			pointer-events: none;
			picture, img {
				height: 100%;
				width: 100%;
			}
		}
		&__back {
			opacity: 0;
			visibility: hidden;
		}
	}
	&-description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 23px;
		background-color: var(--bs-body-bg);
		box-shadow: 0 0 10px rgba(var(--bs-primary-rgb), 0.4);
		border-radius: 10px;
		@include from-sm() {
			border-radius: 15px;
			box-shadow: 0 0 20px rgba(var(--bs-primary-rgb), 0.4);
			padding: 30px;
		}
		&__btn {
			position: relative;
			order: 1;
			background-color: transparent;
			border: 0;
			color: var(--bs-primary);
			align-items: center;
			font-size: 16px;
			padding: 0;
			margin: 0;
			display: none;
			@include xs() {
				display: inline-flex;
			}
			&::after {
				content: '';
				height: 20px;
				width: 20px;
				flex: none;
				background-size: contain;
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 8L9.65685 13.6569L15.3137 8' stroke='%23AA6CFF'/%3E%3C/svg%3E%0A");
			}
			&.isopen {
				&::after {
					transform: rotate(180deg);
				}
				& ~ .product-description__content {
					max-height: 100%;
				}
			}
		}
		&__content {
			line-height: 1.2;
			font-size: 16px;
			overflow: hidden;
			max-height: 190px;
			@include from-xs() {
				max-height: unset;
			}
			@include from-md() {
				font-size: 22px;
				line-height: 1.3;
			}
			p {
				line-height: inherit;
				font-size: inherit;
			}
		}
	}
	&-table {
		margin-bottom: 24px;
		@include from-sm() {
			margin-bottom: 50px;
		}
		h4 {
			margin-bottom: 24px;
			@include from-sm() {
				margin-bottom: 50px;
			}
		}
		&__list {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 12px;
			color: #C6C6C6;
			@include sm() {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			@include from-sm() {
				font-size: 16px;
			}
			li {
				position: relative;
				display: flex;
				@include from-sm() {
					border-top: 1px dashed;
					border-bottom: 1px dashed;
					span {
						padding: 12px 16px;
						&:nth-child(1) {
							max-width: 420px;
							width: 100%;
							border-right: 1px solid;
						}
					}
				}
				@include sm() {
					align-items: flex-end;
					justify-content: space-between;
					padding: 0 12px;
					span {
						&:nth-child(1) {
							display: flex;
							flex-grow: 1;
							&::after {
								content: '';
								border-bottom: 1px dashed rgba(#C6C6C6, 0.4);
								flex-grow: 1;
								margin: 0 4px;
							}
						}
						&:nth-child(2) {
							max-width: 124px;
						}
					}
				}
			}
		}
	}
	&-info {
		padding-top: 40px;
		@include from-sm() {
			padding: 30px;
		}
		&__title {
			margin-bottom: 20px;
			@include from-sm() {
				margin-bottom: 30px;
			}
		}
	}
	&-specifications {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		@include from-sm() {
			gap: 40px;
		}
		&__price {
			font-size: 20px;
			@include from-sm() {
				font-size: 30px;
			}
		}
		&__footer {
			display: flex;
			align-items: center;
			width: 100%;
			gap: 30px;
			@include xs() {
				.btn {
					flex-grow: 1
				}
			}
			
		}
		&__switches {
			display: flex;
			flex-direction: column;
			gap: 14px;
		}
	}
	&-carousel {
		padding-bottom: 30px;
		border-radius: 10px;
		background-color: var(--bs-dark);
		--swiper-pagination-bottom: 10px;
		@include from-sm() {
			--swiper-pagination-bottom: 15px;
			padding-bottom: 0;
			border-radius: 14px;
		}
		.swiper-slide {
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&-list {
		&-slider {
			@include sm() {
				overflow: unset;
			}
		}
	}
}