.reviews {
	overflow: hidden;
	.swiper {
		&-button-prev, &-button-next {
			margin: 0;
			left: unset;
			right: unset;
		}
		&-slide {
			height: auto;
			@include md() {
				max-width: 290px;
			}
			&-active {
				.review img {
					border-color: var(--bs-primary);
					box-shadow: 0 0 10px rgba(var(--bs-primary-rgb), 0.6);
				}
			}
		}
		@include md() {
			overflow: unset;
		}
		
	}
}
.review {
	&-item {
		aspect-ratio: 1.2 / 1;
		@include from-sm() {
			aspect-ratio: 1.9 / 1;
		}
	}
}