:root {
	--bs-body-font-family: "Open Sans", sans-serif;
	--bs-primary: #AA6CFF;
	--bs-primary-rgb: 170, 108, 255;
	--bs-info: #524FF5;
	--bs-info-rgb: 82, 79, 245;
	--bs-dark: #1D1C21;
	--bs-dark-rgb: 29, 28, 33;
	--bs-dark-bg-subtle: #312E3D;
	--bs-dark-bg-subtle-rgb: 49, 46, 61;
	--bs-light: #DFDFDF;
	--bs-light-rgb: 223, 223, 223;
	--bs-body-color: #fff;
	--bs-body-bg: #161418;
	--bs-body-bg-rgb: 22, 20, 24;
	--bs-transition: .25s ease;
	--bs-gray: #C6C6C6;
	--bs-gray-rgb: 198, 198, 198;
	--bs-link-color: var(--bs-white);
	--bs-link-color-rgb: var(--bs-white-rgb);
	--bs-link-hover-color: var(--bs-primary);
	--bs-link-hover-color-rgb: var(--bs-primary-rgb);
	--blog-card-bg: var(--bs-dark);
	--blog-card-color: var(--bs-white);
	--bs-form-bg: var(--bs-dark);
	--bs-form-border-color: #C6C6C6;
	--bs-form-border-focus: #C6C6C6;
	--bs-form-bg-focus: var(--bs-body-bg);
	--bs-form-invalid-border-color: #aa042c;
	--bs-form-invalid-bg-color: rgba(69, 0, 17, 0.2);
	
	--btn-icon-prev: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.219 6.30933L7 12.8046L18.219 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
	--btn-icon-next: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99995 6.30933L18.219 12.8046L6.99995 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
	--swiper-btn-bg: rgba(var(--bs-white-rgb), 0.2);
	--swiper-btn-bg-hover: var(--bs-dark-bg-subtle);
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-size: 11px;
	--swiper-pagination-bullet-inactive-color: var(--bs-body-bg);
	--swiper-pagination-color: var(--bs-dark-bg-subtle);
}

[data-theme='light'] {
	--bs-body-bg: #F6F3F9;
	--bs-body-color: var(--bs-black);
	--blog-card-bg: var(--bs-white);
	--blog-card-color: var(--bs-black);
	--bs-link-color-rgb: 0,0,0;
	--bs-light: var(--bs-dark-bg-subtle);

	--bs-form-border-color: transparent;
	--bs-form-border-focus: #C6C6C6;
	--bs-form-bg: var(--bs-white);
	--bs-form-bg-focus: var(--bs-white);
	--bs-form-invalid-bg-color: var(--bs-white);

	--btn-icon-prev: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.219 6.30933L7 12.8046L18.219 19.2998' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E%0A");
	--btn-icon-next: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99995 6.30933L18.219 12.8046L6.99995 19.2998' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E%0A");
	--swiper-btn-bg: var(--bs-dark-bg-subtle);
	--swiper-btn-bg-hover: var(--bs-primary);
	--swiper-pagination-color: #DFDFDF;
	--swiper-pagination-bullet-inactive-color: #C6C6C6;
}