:root {
	--bs-body-font-family: "Open Sans", sans-serif;
	--bs-primary: #AA6CFF;
	--bs-primary-rgb: 170, 108, 255;
	--bs-info: #524FF5;
	--bs-info-rgb: 82, 79, 245;
	--bs-dark: #1D1C21;
	--bs-dark-rgb: 29, 28, 33;
	--bs-light: #DFDFDF;
	--bs-light-rgb: 223, 223, 223;
	--bs-body-color: #fff;
	--bs-body-bg: #161418;
	--bs-transition: .25s ease;
	--bs-link-color: var(--bs-white);
	--bs-link-color-rgb: var(--bs-white-rgb);
	--bs-link-hover-color: var(--bs-primary);
	--bs-link-hover-color-rgb: var(--bs-primary-rgb);
	--swiper-navigation-size: 60px;
	--swiper-pagination-bottom: 0;
	--swiper-pagination-bullet-size: 11px;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-color: #312E3D;
	--swiper-pagination-bullet-inactive-color: var(--bs-dark);
}