.text {
	&-shadow {
		text-shadow: var(--bs-text-shadow)
	}
	&-inherit {
		color: inherit;
	}
}

.p {
	&-7 { padding: 70px!important; }
	&-sm {
		@include from-sm() {
			&-7 { padding: 70px 0 !important; }
		}
	}
	&t {
		&-sm {
			@include from-sm() { &-7 { padding-top: 70px !important; } }
		}
	}
	&b {
		&-sm {
			@include from-sm() { &-7 { padding-bottom: 70px !important; } }
		}
	}
}

.h {
	@include from-sm() {
		&-sm {
			&-100 {
				height: 100%;
			}
		}
	}
}

.outline-none {
	outline: none;
}
.flex {
	&-none { flex: none; }
	&-1 { flex: 1; }
}

.collapse, 
.collapse.show {
	transition: all var(--bs-transition);
}

input {
	border: 0;
	outline: none;
	background-color: transparent;
	appearance: none;
	font-family: inherit;
	&[type=email],
	&[type=text],
	&[type=password],
	&[type=search],
	&[type=tel] {
		height: 43px;
		border-width: 1px;
		border-style: solid;
		@include from-sm() {
			height: 62px;
		}
	}
}

.password-btn {
	position: absolute;
	border: 0;
	top: 11px;
	right: 10px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3984 19.6831L5.39844 4.68311M10.1984 10.6247C9.82502 11.0364 9.59844 11.5771 9.59844 12.1694C9.59844 13.4592 10.673 14.5048 11.9984 14.5048C12.6096 14.5048 13.1674 14.2825 13.5911 13.9165M20.4372 14.5048C21.2635 13.2679 21.5984 12.2592 21.5984 12.2592C21.5984 12.2592 19.4138 5.28311 11.9984 5.28311C11.5821 5.28311 11.1823 5.30509 10.7984 5.3466M17.3984 17.5326C16.021 18.4112 14.2478 19.0326 11.9984 18.9958C4.67536 18.8761 2.39844 12.2592 2.39844 12.2592C2.39844 12.2592 3.45629 8.88118 6.59844 6.82643' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
	&.active {
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4 16.1138C19.4 17.8335 17.9673 19.2276 16.2 19.2276C14.4327 19.2276 13 17.8335 13 16.1138C13 14.3941 14.4327 13 16.2 13C17.9673 13 19.4 14.3941 19.4 16.1138Z' stroke='%23DFDFDF'/%3E%3Cpath d='M15.8 25.2836C25.5641 25.4433 28.6 16.3015 28.6 16.3015C28.6 16.3015 25.6872 7 15.8 7C5.91282 7 3 16.3015 3 16.3015C3 16.3015 6.0359 25.124 15.8 25.2836Z' stroke='%23DFDFDF'/%3E%3C/svg%3E");
	}
	@include from-sm() {
		height: 24px;
		width: 24px;
		top: 19px;
		right: 20px;
	}
}

.form {
	&-check {
		padding-left: 35px;
		@include from-sm() {
			padding-left: 39px;
		}
		&-input {
			cursor: pointer;
			--bs-form-check-bg: transparent;
			height: 20px;
			width: 20px;
			border: 1px solid var(--bs-gray);
			@include from-sm() {
				height: 24px;
				width: 24px;
			}
			&:focus {
				border-color: rgba(var(--bs-primary-rgb), 0.5);
				box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb)	 ,.25);
			}
			&:checked {
				background-color: var(--bs-primary);
				border-color: var(--bs-primary);
				&[type=checkbox] {
					--bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='Interface / Check'%3E%3Cpath id='Vector' d='M6 12L10.2426 16.2426L18.727 7.75732' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}
			}
			&.is-invalid {
				&:checked {
					background-color: var(--bs-primary);
				}
				& ~ .form-check-label {
				color: var(--bs-body-color);
				}
			}
		}
		&-label {
			font-weight: 300;
			font-size: 12px;
			@include from-sm() {
				font-size: 14px;
			}
		}
		.form-check-input {
			margin-left: -35px;
			@include from-sm() {
				margin-left: -39px;
			}
		}
	}
	&-password {
		width: 100%;
		position: relative;
	}
	&-counter {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		border: 1px solid rgba(#C6C6C6, 0.1);
		border-radius: 10px;
		height: 38px;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex: none;
			color: var(--bs-body-color);
			font-weight: 300;
			font-family: inherit;
			padding: 0;
			margin: 0;
			height: 30px;
			width: 30px;
			font-size: 28px;
			background-color: transparent;
			border: 0;
			outline: none;
			&:hover, &:focus {
				color: var(--bs-primary);
			}
		}
		input {
			border: 0;
			height: 30px;
			width: auto;
			font-size: 16px;
			flex-grow: 1;
			text-align: center;
			color: var(--bs-body-color);
		}
	}
	&--white {
		.form-control {
			--bs-form-bg: var(--bs-white);
			--bs-form-bg-focus: var(--bs-white);
			--bs-form-bg-invalid: var(--bs-white);
			--bs-form-color: #161418;
		}
	}
	&-wrap {
		row-gap: 20px;
		&-sm {
			row-gap: 16px;
			@include from-sm() {
				row-gap: 20px;
			}
		}
	}
	&-control {
		--bs-border-radius: 6px;
		--bs-input-padding-x: 10px;
		--bs-input-padding-y: 16px;
		--bs-input-fonts-size: 14px;
		--bs-form-color: var(--bs-body-color);
		color: var(--bs-form-color);
		font-size: var(--bs-input-fonts-size);
		padding: var(--bs-input-padding-y) var(--bs-input-padding-x);
		background-color: var(--bs-form-bg);
		border-color: var(--bs-form-border-color);
		@include from-sm() {
			--bs-input-fonts-size: 20px !important;
			--bs-input-padding-y: 24px !important;
			--bs-input-padding-x: 20px !important;
			--bs-border-radius: 10px !important;
		}
		&::placeholder {
			color: #c6c6c6;
		}
		&:focus, &.is-filled {
			color: var(--bs-form-color);
			border-color: var(--bs-form-border-focus);
			background-color: var(--bs-form-bg-focus);
			box-shadow: unset;
		}
		&.is-invalid {
			padding-right: var(--bs-input-padding-x);
			background-color: var(--bs-form-invalid-bg-color);
			background-image: none;
			border-color: var(--bs-form-invalid-border-color);
		}
		&--password {
			padding-right: 34px;
			@include from-sm {
				padding-right: 54px;
			}
		}
	}
	&-message {
		color: var(--bs-form-invalid-border-color);
		margin-top: 6px;
		font-size: 12px;
		@include from-sm() {
			font-size: 14px;
			margin-top: 10px;
		}
	}
	&-msg {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		background-color: var(--bs-dark-bg-subtle);
		color: var(--bs-white);
		padding: 20px;
		gap: 0.5rem;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		@include from-sm() {
			padding: 30px;
		}
		&__title {
			font-size: 32px;
			@include from-sm() { font-size: 30px; }
		}
		&__text {
			font-size: 20px;
			@include from-sm() { font-size: 22px; }
		}
	}
	&-checkbox {
		display: flex;
		gap: 0.5rem;
		font-size: 12px;
		align-items: center;
		user-select: none;
		@include from-xs() {
			font-size: 20px;
			gap: 1rem;
		}
		input {
			flex: none;
			appearance: none;
			height: 20px;
			width: 20px;
			border-radius: 4px;
			background-color: transparent;
			border: 1px solid var(--bs-primary);
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			&:checked {
				background-color: var(--bs-primary);
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='Interface / Check'%3E%3Cpath id='Vector' d='M6 12L10.2426 16.2426L18.727 7.75732' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
			@include from-xs() {
				border-width: 2px;
				height: 24px;
				width: 24px;
			}
		}
	}
}

.switches {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.switch {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0;
	i {
		display: block;
		position: relative;
		height: 28px;
		width: 28px;
		border-radius: 50px;
		flex: none;
		border: 2px solid var(--bs-primary);
		margin: 0;
		cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			border-radius: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--bs-primary);
			opacity: 0;
		}
		@include sm() {
			display: none !important;
		}
	}
	span {
		@include sm() {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 34px;
			border-radius: 6px;
			background-color: var(--bs-black);
			padding: 0 15px;
			line-height: 1;
		}
	}
	input {
		height: 10px;
		width: 10px;
		&:checked {
			& ~ i {
				&::after {
					opacity: 1;
				}
			}
			& ~ span {
				@include sm() {
					background-color: var(--bs-primary);
				}				
			}
		}
	}
}

.btn {
	--bs-btn-font-family: var(--bs-body-font-family);
	--bs-btn-font-weight: 400;
	--bs-btn-padding-x: 1em;
	--bs-btn-padding-y: 0;
	--bs-btn-border-width: 0;
	--bs-btn-font-size: 1rem;
	--bs-btn-border-radius: 0.4em;
	--bs-btn-box-shadow: 0 .3rem 1rem rgba(var(--bs-primary-rgb), 0.5);
	--bs-btn-focus-box-shadow: 0 .3rem 1rem rgba(var(--bs-primary-rgb), 0.5);
	position: relative;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	user-select: none;
	outline: none;
	transition: color .25s ease, box-shadow .25s ease, background-color 0.25s ease;
	min-height: 44px;
	@include from-md() {
		min-height: 64px;
		--bs-btn-font-size: 22px;
		--bs-btn-padding-x: 30px;
	}
	&-white {
		--bs-btn-bg: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-primary);
		--bs-btn-active-bg: var(--bs-btn-hover-bg);
		--bs-btn-color: var(--bs-black);
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-active-color: var(--bs-btn-hover-color);
		--bs-btn-disabled-color: var(--bs-btn-color);
		--bs-btn-disabled-bg: var(--bs-btn-bg);
	}
	&-primary {
		--bs-btn-bg: var(--bs-primary);
		--bs-btn-active-bg: var(--bs-primary);
		--bs-btn-hover-bg: var(--bs-primary);
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-active-color: var(--bs-white);
	}
	&-dark {
		--bs-btn-bg: var(--bs-dark);
		--bs-btn-active-bg: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-white);
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-dark);
		--bs-btn-active-color: var(--bs-dark);
	}
	&-sm {
		@include from-md() {
			min-height: 56px;
			--bs-btn-padding-x: 24px;
		}
	}
	&-xs {
		min-height: 50px !important;
	}
	&-outline {
		--bs-btn-bg: transparent;
		--bs-btn-border-width: 1px;
		--bs-btn-border-color: var(--bs-gray);
		--bs-btn-hover-border-color: var(--bs-white);
		--bs-btn-active-border-color: var(---bs-white);
		--bs-btn-active-bg: var(---bs-white);
		--bs-btn-hover-bg: var(--bs-white);
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-dark);
		--bs-btn-active-color: var(--bs-dark);
	}
	&-none {
		display: inline-flex;
		outline: none;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
	}
	&.w-100-m {
		width: 100%;
		@include from-sm() {
			width: auto;
		}
	}
}

.position {
	&-xs { &-absolute { @include from-xs() { position: absolute; } } }
	&-sm { &-absolute { @include from-sm() { position: absolute; } } }
	&-md { &-absolute { @include from-md() { position: absolute; } } }
	&-lg { &-absolute { @include from-lg() { position: absolute; } } }
	&-xl { &-absolute { @include from-xl() { position: absolute; } } }
}

.bg {
	&-none { background: none !important; }
	&-xs { &-dark { @include from-xs() { background-color: var(--bs-dark); } } }
	&-sm { &-dark { @include from-sm() { background-color: var(--bs-dark); } } }
	&-md { &-dark { @include from-md() { background-color: var(--bs-dark); } } }
	&-lg { &-dark { @include from-lg() { background-color: var(--bs-dark); } } }
	&-xl { &-dark { @include from-xl() { background-color: var(--bs-dark); } } }
}

.w{
	&-xs { &-auto { @include from-xs() { width: auto !important; } } }
	&-sm { &-auto { @include from-sm() { width: auto !important; } } }
	&-md { &-auto { @include from-md() { width: auto !important; } } }
	&-lg { &-auto { @include from-lg() { width: auto !important; } } }
	&-xl { &-auto { @include from-xl() { width: auto !important; } } }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	--bs-gutter-x: 50px;
	@include from-xs() {
		--bs-gutter-x: 1.25rem;
	}
}

.row {
	--bs-gutter-x: 1.25rem;
	&-gap {
		&-xs { &-6 { @include from-xs() { row-gap: 4rem !important } } }
		&-sm { &-6 { @include from-sm() { row-gap: 4rem !important } } }
		&-md { &-6 { @include from-md() { row-gap: 4rem !important } } }
		&-lg { &-6 { @include from-lg() { row-gap: 4rem !important } } }
		&-xl { &-6 { @include from-xl() { row-gap: 4rem !important } } }
	}
}
@include from-xl() {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1180px;
	}
}
.object {
	&-position {
		&-top { object-position: top }
		&-center { object-position: center }
		&-bottom { object-position: bottom }
	}
}

.dropdown {
	&-menu {
		--bs-dropdown-link-hover-bg: var(--bs-dark);
		--bs-dropdown-link-active-bg: var(--bs-dark);
		--bs-dropdown-link-active-color: var(--bs-primary);
		--bs-dropdown-link-hover-color: var(--bs-primary);
	}
	&-toggle {
		display: inline-flex;
		align-items: center;
		gap: .5rem;
		background-color: transparent;
		color: var(--bs-white);
		border: 0;
		font-weight: 500;
		padding: 0.5rem 1rem;
		border-radius: .4rem;
		&[aria-expanded="true"] {
			background-color: var(--bs-dark);
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.m {
	&t {
		&-7 { margin-top: 40px !important; }
		&-8 { margin-top: 50px !important; }
	}
	&b {
		&-7 { margin-bottom: 40px !important; }
		&-8 { margin-bottom: 50px !important; }
	}
	@include from-sm() {
		&b {
			&-sm {
				&-6 { margin-bottom: 3.4rem !important; }
				&-7 { margin-bottom: 40px !important; }
				&-8 { margin-bottom: 50px !important; }
			}
		}
		&t {
			&-sm { 
				&-7 { margin-top: 40px !important; }
				&-8 { margin-top: 50px !important; }
			}
		}
	}
}

.card {
	--bs-card-bg: var(--bs-dark);
	--bs-card-border-radius: 1rem;
	--bs-card-border-width: 0px;
	--bs-card-spacer-y: 1rem;
	--bs-card-spacer-x: 1rem;
	--bs-card-title-spacer-y: 0;
	height: 100%;
	text-align: center;
}

.swiper {
	&-slide {
		&--auto {
			width: auto;
		}
	}
	&-control {
		position: relative;
		display: flex;
		gap: 10px;
		.swiper-button {
			&-prev, &-next {
				position: relative;
				margin: 0;
				left: unset;
				right: unset;
			}
		}
	}
	&-button {
		&-prev, &-next {
			padding: 0;
			height: var(--swiper-btn-size);
			width: var(--swiper-btn-size);
			background-color: var(--swiper-btn-bg);
			border: 0;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			background-size: 50%;
			--swiper-btn-size: 60px;
			@include sm() {
				border-radius: 6px;
				--swiper-btn-size: 40px;
			}
			&::after { display: none; }
			&:hover:not(.swiper-button-disabled) {
				background-color: var(--swiper-btn-bg-hover);
			}
		}
		&-prev {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.219 6.30933L7 12.8046L18.219 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
		}
		&-next {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99995 6.30933L18.219 12.8046L6.99995 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
		}
	}
}

.text-ticker {
	position: relative;
	padding: 12px 0;
	overflow: hidden;
	width: 100%;
	&__content {
		--speed: 10s;
		display: flex;
		gap: 2rem;
		white-space: nowrap;
		font-size: 1rem;
		will-change: transform;
		animation: text var(--speed) linear infinite;
		@include from-xs() {
			--speed: 40s;
			font-size: 1.25rem;
		}
	}
}

.tooltip {
	&-info {
		--bs-tooltip-opacity: 1;
		--bs-tooltip-bg: var(--bs-primary);
		--bs-tooltip-color: var(--bs-white);
		--bs-tooltip-border-radius: 10px;
		text-align: left;
		font-size: 12px;
		line-height: 1.3;
		--bs-tooltip-padding-x: 1em;
		--bs-tooltip-padding-y: 1em;
		@include from-xs() {
			font-size: 16px;
			--bs-tooltip-max-width: 356px;
		}
		.tooltip-inner {
			text-align: inherit;
		}
	}
}

.popover-info {
	--bs-popover-opacity: 1;
	--bs-popover-bg: var(--bs-primary);
	--bs-popover-color: var(--bs-white);
	--bs-popover-border-radius: 10px;
	--bs-popover-border-width: 0;
	text-align: left;
	font-size: 12px;
	line-height: 1.3;
	--bs-popover-padding-x: 1em;
	--bs-popover-padding-y: 1em;
	@include from-xs() {
		font-size: 16px;
		--bs-popover-max-width: 356px;
	}
}

.dropdown {
	&-toggle {
		padding: 0;
		gap: 4px;
		&[aria-expanded=true]{
			background-color: transparent;
		}
		&::after {
			border: 0;
			margin: 0;
			height: 24px;
			width: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 7.5L9.84315 13.1569L4.18629 7.5' stroke='white'/%3E%3C/svg%3E%0A");
		}
	}
	&-menu {
		--bs-dropdown-bg: var(--bs-dark-bg-subtle);
		--bs-dropdown-link-active-bg: transparent;
		--bs-dropdown-border-radius: 12px;
		--bs-dropdown-link-hover-bg: var(--bs-dropdown-link-active-bg);
	}
	&-item {
		--bs-dropdown-item-padding-y: 0.4rem;
		--bs-dropdown-item-padding-x: 1.25rem;
	}
}

.pagination {
	display: flex;
	gap: 10px;
	a, button {
		border-radius: 10px;
		border: 0;
		height: 40px;
		width: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 20px;
		@include from-sm() {
			font-size: 30px;
			height: 60px;
			width: 60px;
		}
		&:hover {
			color: var(--bs-white);
			background-color: var(--bs-primary);
		}
	}
	&-link {
		background-color: #fff;
	}
	&-btn {
		background-color: var(--bs-dark-bg-subtle);
		color: var(--bs-white);
	}
}

@keyframes text {
	from {
		transform: translateX(0%);
	 }
	 to {
		transform: translateX(-160%);
	 }
}

.multi-collapse {
	transition: unset !important;
}
[aria-expanded="true"] {
	svg { color: var(--bs-primary); }
	span { color: var(--bs-body-color); }
}
[aria-expanded="false"] svg {
	color: var(--bs-body-color);
}

[data-theme="light"] {
	.btn-close {
		--bs-btn-close-white-filter: unset;
	}
	.offcanvas-md {
		--bs-offcanvas-bg: var(--bs-white);
	}
	.header {
		background-color: var(--bs-white);
		color: var(--bs-black);
		&-cart::after {
			background-color: var(--bs-primary);
			color: var(--bs-white);
		}
	}
	.nav-header {
		.nav-link {
			--bs-nav-link-color: var(--bs-black)
		}
	}
	.page {
		&-link {
			color: #161418;
		}
	}
	.btn {
		&-white {
			--bs-btn-bg: var(--bs-primary);
			--bs-btn-hover-bg: #161418;
			--bs-btn-active-bg: #161418;
			--bs-btn-color: var(--bs-white);
			--bs-btn-hover-color: var(--bs-white);
			--bs-btn-active-color: var(--bs-btn-hover-color);
			--bs-btn-disabled-color: var(--bs-btn-color);
			--bs-btn-disabled-bg: var(--bs-btn-bg);
		}
	}
	.swiper {
		&-button {
			&-prev, &-next {
				padding: 0;
				height: var(--swiper-btn-size);
				width: var(--swiper-btn-size);
				background-color: var(--swiper-btn-bg);
				border: 0;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 10px;
				background-size: 50%;
				--swiper-btn-size: 60px;
				@include sm() {
					border-radius: 6px;
					--swiper-btn-size: 40px;
				}
				&::after { display: none; }
				&:hover:not(.swiper-button-disabled) {
					background-color: var(--swiper-btn-bg-hover);
				}
			}
			&-prev {
				background-image: var(--btn-icon-prev);
			}
			&-next {
				background-image: var(--btn-icon-next);
			}
		}
	}
}