.text {
	&-shadow {
		text-shadow: var(--bs-text-shadow)
	}
	&-inherit {
		color: inherit;
	}
}
.offcanvas {
	--bs-offcanvas-padding-y: 2rem;
	--bs-offcanvas-bg: #131842;
	transition: var(--bs-transition);
}
.outline-none {
	outline: none;
}
.flex {
	&-none { flex: none; }
	&-1 { flex: 1; }
}

.collapse, 
.collapse.show {
	transition: all var(--bs-transition);
}

input {
	appearance: none;
	&[type=email],
	&[type=text],
	&[type=password],
	&[type=tel] {
		height: 34px;
		border-width: 1px;
		border-style: solid;
		@include from-sm() {
			height: 62px;
		}
	}
}

.form {
	&--white {
		.form-control {
			--bs-form-bg: var(--bs-white);
			--bs-form-bg-focus: var(--bs-white);
			--bs-form-bg-invalid: var(--bs-white);
			--bs-form-color: #161418;
		}
	}
	&-wrap {
		gap: 20px;
	}
	&-control {
		--bs-border-radius: 6px;
		--bs-input-padding-x: 10px;
		--bs-input-padding-y: 16px;
		--bs-input-fonts-size: 14px;
		--bs-form-color: var(--bs-body-color);
		color: var(--bs-form-color);
		font-size: var(--bs-input-fonts-size);
		padding: var(--bs-input-padding-y) var(--bs-input-padding-x);
		background-color: var(--bs-form-bg);
		border-color: var(--bs-form-border-color);
		@include from-sm() {
			--bs-input-fonts-size: 20px;
			--bs-input-padding-y: 24px;
			--bs-input-padding-x: 20px;
			--bs-border-radius: 10px;
		}
		&::placeholder {
			color: #c6c6c6;
		}
		&:focus {
			color: var(--bs-form-color);
			border-color: var(--bs-form-border-focus);
			background-color: var(--bs-form-bg-focus);
			box-shadow: unset;
		}
		&.is-invalid {
			padding-right: var(--bs-input-padding-x);
			background-color: var(--bs-form-invalid-bg-color);
			background-image: none;
			border-color: var(--bs-form-invalid-border-color);
		}
	}
	&-message {
		color: var(--bs-form-invalid-border-color);
		margin-top: 6px;
		font-size: 12px;
		@include from-sm() {
			font-size: 14px;
			margin-top: 10px;
		}
	}
	&-msg {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		background-color: var(--bs-dark-bg-subtle);
		color: var(--bs-white);
		padding: 20px;
		gap: 0.5rem;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		@include from-sm() {
			padding: 30px;
		}
		&__title {
			font-size: 32px;
			@include from-sm() { font-size: 30px; }
		}
		&__text {
			font-size: 20px;
			@include from-sm() { font-size: 22px; }
		}
	}
	&-checkbox {
		display: flex;
		gap: 0.5rem;
		font-size: 12px;
		align-items: center;
		user-select: none;
		@include from-xs() {
			font-size: 20px;
			gap: 1rem;
		}
		&-input {
			appearance: none;
			height: 20px;
			width: 20px;
			border-radius: 4px;
			background-color: transparent;
			border: 1px solid var(--bs-primary);
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			&:checked {
				background-color: var(--bs-primary);
				background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='Interface / Check'%3E%3Cpath id='Vector' d='M6 12L10.2426 16.2426L18.727 7.75732' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
			@include from-xs() {
				border-width: 2px;
				height: 24px;
				width: 24px;
			}
		}
	}
}

.switches {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.switch {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0;
	i {
		display: block;
		position: relative;
		height: 28px;
		width: 28px;
		border-radius: 50px;
		flex: none;
		border: 2px solid var(--bs-primary);
		margin: 0;
		cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			border-radius: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--bs-primary);
			opacity: 0;
		}
		@include sm() {
			display: none !important;
		}
	}
	span {
		@include sm() {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 34px;
			border-radius: 6px;
			background-color: var(--bs-black);
			padding: 0 15px;
			line-height: 1;
		}
	}
	input {
		height: 10px;
		width: 10px;
		&:checked {
			& ~ i {
				&::after {
					opacity: 1;
				}
			}
			& ~ span {
				@include sm() {
					background-color: var(--bs-primary);
				}				
			}
		}
	}
}

.btn {
	--bs-btn-font-family: var(--bs-body-font-family);
	--bs-btn-font-weight: 400;
	--bs-btn-padding-x: 1em;
	--bs-btn-padding-y: 0;
	--bs-btn-border-width: 0;
	--bs-btn-font-size: 1rem;
	--bs-btn-border-radius: 0.4em;
	--bs-btn-box-shadow: 0 .3rem 1rem rgba(var(--bs-primary-rgb), 0.5);
	--bs-btn-focus-box-shadow: 0 .3rem 1rem rgba(var(--bs-primary-rgb), 0.5);
	position: relative;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	user-select: none;
	outline: none;
	transition: color .25s ease, box-shadow .25s ease, background-color 0.25s ease;
	min-height: 44px;
	@include from-md() {
		min-height: 64px;
		--bs-btn-font-size: 22px;
		--bs-btn-padding-x: 30px;
	}
	&-white {
		--bs-btn-bg: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-primary);
		--bs-btn-active-bg: var(--bs-btn-hover-bg);
		--bs-btn-color: var(--bs-black);
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-active-color: var(--bs-btn-hover-color);
		--bs-btn-disabled-color: var(--bs-btn-color);
		--bs-btn-disabled-bg: var(--bs-btn-bg);
	}
	&-primary {
		--bs-btn-bg: var(--bs-primary);
		--bs-btn-active-bg: var(--bs-primary);
		--bs-btn-hover-bg: var(--bs-primary);
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-active-color: var(--bs-white);
	}
	&-dark {
		--bs-btn-bg: var(--bs-dark);
		--bs-btn-active-bg: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-white);
		--bs-btn-color: var(--bs-white);
		--bs-btn-hover-color: var(--bs-dark);
		--bs-btn-active-color: var(--bs-dark);
	}
	&-sm {
		@include from-md() {
			min-height: 56px;
			--bs-btn-padding-x: 24px;
		}
	}
	&-none {
		display: inline-flex;
		outline: none;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
	}
}


.position {
	&-xs { &-absolute { @include from-xs() { position: absolute; } } }
	&-sm { &-absolute { @include from-sm() { position: absolute; } } }
	&-md { &-absolute { @include from-md() { position: absolute; } } }
	&-lg { &-absolute { @include from-lg() { position: absolute; } } }
	&-xl { &-absolute { @include from-xl() { position: absolute; } } }
}

.bg {
	&-none { background: none !important; }
	&-xs { &-dark { @include from-xs() { background-color: var(--bs-dark); } } }
	&-sm { &-dark { @include from-sm() { background-color: var(--bs-dark); } } }
	&-md { &-dark { @include from-md() { background-color: var(--bs-dark); } } }
	&-lg { &-dark { @include from-lg() { background-color: var(--bs-dark); } } }
	&-xl { &-dark { @include from-xl() { background-color: var(--bs-dark); } } }
}

.w{
	&-xs { &-auto { @include from-xs() { width: auto !important; } } }
	&-sm { &-auto { @include from-sm() { width: auto !important; } } }
	&-md { &-auto { @include from-md() { width: auto !important; } } }
	&-lg { &-auto { @include from-lg() { width: auto !important; } } }
	&-xl { &-auto { @include from-xl() { width: auto !important; } } }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	--bs-gutter-x: 50px;
	@include from-xs() {
		--bs-gutter-x: 1.25rem;
	}
}

.row {
	--bs-gutter-x: 1.25rem;
	&-gap {
		&-xs { &-6 { @include from-xs() { row-gap: 4rem !important } } }
		&-sm { &-6 { @include from-sm() { row-gap: 4rem !important } } }
		&-md { &-6 { @include from-md() { row-gap: 4rem !important } } }
		&-lg { &-6 { @include from-lg() { row-gap: 4rem !important } } }
		&-xl { &-6 { @include from-xl() { row-gap: 4rem !important } } }
	}
}
@include from-xl() {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1180px;
	}
}
.object {
	&-position {
		&-top { object-position: top }
		&-center { object-position: center }
		&-bottom { object-position: bottom }
	}
}

.dropdown {
	&-menu {
		--bs-dropdown-link-hover-bg: var(--bs-dark);
		--bs-dropdown-link-active-bg: var(--bs-dark);
		--bs-dropdown-link-active-color: var(--bs-primary);
		--bs-dropdown-link-hover-color: var(--bs-primary);
	}
	&-toggle {
		display: inline-flex;
		align-items: center;
		gap: .5rem;
		background-color: transparent;
		color: var(--bs-white);
		border: 0;
		font-weight: 500;
		padding: 0.5rem 1rem;
		border-radius: .4rem;
		&[aria-expanded="true"] {
			background-color: var(--bs-dark);
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.mb {
	&-sm{
		&-6 { @include from-sm() { margin-bottom: 3.4rem !important; } }
	}
};

.card {
	--bs-card-bg: var(--bs-dark);
	--bs-card-border-radius: 1rem;
	--bs-card-border-width: 0px;
	--bs-card-spacer-y: 1rem;
	--bs-card-spacer-x: 1rem;
	--bs-card-title-spacer-y: 0;
	height: 100%;
	text-align: center;
}

.swiper {
	&-control {
		position: relative;
		display: flex;
		gap: 10px;
		.swiper-button {
			&-prev, &-next {
				position: relative;
				margin: 0;
				left: unset;
				right: unset;
			}
		}
	}
	&-button {
		&-prev, &-next {
			padding: 0;
			height: var(--swiper-btn-size);
			width: var(--swiper-btn-size);
			background-color: var(--swiper-btn-bg);
			border: 0;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			background-size: 50%;
			--swiper-btn-size: 60px;
			@include sm() {
				border-radius: 6px;
				--swiper-btn-size: 40px;
			}
			&::after { display: none; }
			&:hover:not(.swiper-button-disabled) {
				background-color: var(--swiper-btn-bg-hover);
			}
		}
		&-prev {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.219 6.30933L7 12.8046L18.219 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
		}
		&-next {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99995 6.30933L18.219 12.8046L6.99995 19.2998' stroke='%23C6C6C6' stroke-width='2'/%3E%3C/svg%3E%0A");
		}
		&-disabled {
			background-color: #4A494D;
			opacity: 1 !important;
		}
	}
}

.text-ticker {
	position: relative;
	padding: 12px 0;
	overflow: hidden;
	width: 100%;
	&__content {
		--speed: 10s;
		display: flex;
		gap: 2rem;
		white-space: nowrap;
		font-size: 1rem;
		will-change: transform;
		animation: text var(--speed) linear infinite;
		@include from-xs() {
			--speed: 40s;
			font-size: 1.25rem;
		}
	}
}

.tooltip {
	&-info {
		--bs-tooltip-opacity: 1;
		--bs-tooltip-bg: var(--bs-primary);
		--bs-tooltip-color: var(--bs-white);
		--bs-tooltip-border-radius: 10px;
		text-align: left;
		font-size: 12px;
		line-height: 1.3;
		--bs-tooltip-padding-x: 1em;
		--bs-tooltip-padding-y: 1em;
		@include from-xs() {
			font-size: 16px;
			--bs-tooltip-max-width: 356px;
		}
		.tooltip-inner {
			text-align: inherit;
		}
	}
}

.popover-info {
	--bs-popover-opacity: 1;
	--bs-popover-bg: var(--bs-primary);
	--bs-popover-color: var(--bs-white);
	--bs-popover-border-radius: 10px;
	--bs-popover-border-width: 0;
	text-align: left;
	font-size: 12px;
	line-height: 1.3;
	--bs-popover-padding-x: 1em;
	--bs-popover-padding-y: 1em;
	@include from-xs() {
		font-size: 16px;
		--bs-popover-max-width: 356px;
	}
}

.dropdown {
	&-toggle {
		padding: 0;
		gap: 4px;
		&[aria-expanded=true]{
			background-color: transparent;
		}
		&::after {
			border: 0;
			margin: 0;
			height: 24px;
			width: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 7.5L9.84315 13.1569L4.18629 7.5' stroke='white'/%3E%3C/svg%3E%0A");
		}
	}
	&-menu {
		--bs-dropdown-bg: var(--bs-dark-bg-subtle);
		--bs-dropdown-link-active-bg: transparent;
		--bs-dropdown-border-radius: 12px;
		--bs-dropdown-link-hover-bg: var(--bs-dropdown-link-active-bg);
	}
	&-item {
		--bs-dropdown-item-padding-y: 0.4rem;
		--bs-dropdown-item-padding-x: 1.25rem;
	}
}

.pagination {
	display: flex;
	gap: 10px;
	a, button {
		border-radius: 10px;
		border: 0;
		height: 40px;
		width: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 20px;
		@include from-sm() {
			font-size: 30px;
			height: 60px;
			width: 60px;
		}
		&:hover {
			color: var(--bs-white);
			background-color: var(--bs-primary);
		}
	}
	&-link {
		background-color: #fff;
	}
	&-btn {
		background-color: var(--bs-dark-bg-subtle);
		color: var(--bs-white);
	}
}

@keyframes text {
	from {
		transform: translateX(0%);
	 }
	 to {
		transform: translateX(-160%);
	 }
}

.multi-collapse {
	transition: unset !important;
}
[aria-expanded="true"] {
	svg { color: var(--bs-primary); }
	span { color: var(--bs-body-color); }
}
[aria-expanded="false"] svg {
	color: var(--bs-body-color);
}