html, body { overflow-x: hidden; }

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
	padding-top: 80px;
	@include xs() {
		--bs-body-font-size: 14px;
	}
	@include from-sm() {
		padding-top: 100px;
	}
}
[data-theme='light'] {
	.offcanvas-md {
		--bs-offcanvas-bg: var(--bs-white);
		.btn-close {
			--bs-btn-close-white-filter: unset;
		}
	}
	.header {
		background-color: var(--bs-white);
		color: var(--bs-black);
		&-cart::after {
			background-color: var(--bs-primary);
			color: var(--bs-white);
		}
	}
	.nav-header {
		.nav-link {
			--bs-nav-link-color: var(--bs-black)
		}
	}
}

svg { display: block;flex: none; max-width: 100%;height: auto; }
picture, img {
	display: block;
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	@include from-md() { padding: 70px 0 ; }
	&-big {
		padding: 40px 0;
		@include from-md() { padding: 70px 0 ; }
	}
	&-headline {
		margin-bottom: 40px;
		@include from-md() { margin-bottom: 50px; }
		h3, .h3 {
			font-size: 16px;
			line-height: 1.2;
			@include from-md() {
				line-height: 1.12;
				font-size: 30px;
			}
		}

	}
}

.page {
	&-link {
		display: inline-flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		svg {
			height: 16;
			height: 16;
		}
		@include from-sm() {
			font-size: 20px;
			svg {
				flex: none;
				height: 20px;
				width: 20px;
			}
		}
		&--lg {
			@include from-sm() {
				font-size: 24px;
			}
		}
		&--xs {
			font-size: 16px;
			svg {
				height: 16;
				height: 16;
			}
		}
		&:hover {
			color: var(--bs-primary);
		}
	}
	&-bnr {
		padding: 25px 0;
		min-height: 215px;
		background-size: cover;
		background-repeat: no-repeat;
		@include from-lg() {
			padding: 40px 0;
			min-height: 260px;
		}
		&__title {
			margin-bottom: 16px;
			@include from-lg() {
				margin-bottom: 25px;
			}
		}
	}
	&-row {
		row-gap: 10px;
		--bs-gutter-x: 10px !important;
		@include from-lg() {
			--bs-gutter-x: 20px !important;
			row-gap: 20px;
		}
	}
	&-card {
		position: relative;
		overflow: hidden;
		height: 100%;
		background-color: var(--bs-dark);
		color: var(--bs-white);
		padding: 15px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			picture, img {
				height: 100%;
				width: 100%;
			}
			img {
				object-fit: cover;
			}
		}
		&--big {
			min-height: 226px;
			@include from-sm() {
				min-height: 510px;
			}
		}
		@include from-sm() {
			gap: 50px;
			padding: 30px;
			border-radius: 15px;
		}
		&__title {
			font-size: 16px;
			line-height: 1.2;
			@include from-sm() {
				line-height: 1.12;
				font-size: 22px;
			}
			@include from-lg() {
				font-size: 30px;
			}
		}
		&__headline {
			font-size: 22px;
			line-height: 1.2;
			@include from-sm() {
				line-height: 1.12;
				font-size: 36px;
			}
			@include from-md() { font-size: 45px; }
			@include from-lg() { font-size: 50px; }
			@include from-xl() { font-size: 54px; }
		}
	}
	&-breadcrumb {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--bs-primary);
		font-size: 16px;
		margin-bottom: 10px;
		gap: 4px;
		svg {
			height: 20px;
			width: 20px;
		}
		@include from-sm() {
			font-size: 20px;
			margin-bottom: 20px;
			gap: 2px;
			svg {
				height: 24px;
				width: 24px;
			}
		}
	}
}

.main-content {
	position: relative;
	margin-top: 120vh;
	z-index: 1;
	background-color: var(--bs-body-bg);
}

.video {
	&-section {
		aspect-ratio: 1.35 / 1;
		@include from-sm() {
			aspect-ratio: 2.2 / 1;
			border-radius: 15px;
		}
	}
	&-container {
		background-color: var(--bs-body-bg);
		border: 0;
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: 10px;
		picture {
			user-select: none;
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			img {
				height: inherit;
				width: inherit;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&-btn {
		position: absolute;
		height: 80px;
		width: 80px;
		background-repeat: no-repeat;
		background-position: center left 30px;
		top: 50%;
		left: 50%;
		background-color: rgba(var(--bs-white-rgb), 0.2);
		border-radius: 50px;
		transform: translate(-50%, -50%);
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='34' viewBox='0 0 30 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999998 31.8087L27.925 17L0.999999 2.19127L0.999998 31.8087Z' fill='%23DFDFDF' stroke='%23DFDFDF' stroke-width='2'/%3E%3C/svg%3E%0A");
		border: 0;
		&:hover {
			background-color: rgba(var(--bs-primary-rgb), 0.8);
		}
	}
}

.collage {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	@include from-sm() {
		grid-template-columns: 2fr 1fr;
		gap: 20px;
	}
	&-img {
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 180px;
		&:nth-child(1) {
			grid-row: 1 / 3;
			@include sm() {
				grid-column: 1 / 3;
			}
		}
	}
}