html, body { overflow-x: hidden; }

body {
	@include xs() { --bs-body-font-size: 14px; }
}

svg { flex: none; }

.section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	@include from-md() { padding: 50px 0 ; }
}
