html, body { overflow-x: hidden; }

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
	padding-top: 80px;
	@include xs() {
		--bs-body-font-size: 14px;
	}
	@include from-sm() {
		padding-top: 100px;
	}
}

svg { flex: none; }
picture, img {
	display: block;
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	@include from-md() { padding: 50px 0 ; }
	&-headline {
		margin-bottom: 40px;
		@include from-md() { margin-bottom: 50px; }
	}
}


.main-content {
	position: relative;
	// margin-top: 150vh;
	// height: 100%;
	background-color: var(--bs-body-bg);
}