h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { font-weight: 400; }

h1, .h1 {
    font-size: 38px;
    @include from-sm() { font-size: 40px; }
    @include from-md() { font-size: 48px; }
    @include from-lg() { font-size: 54px; }
    @include from-xl() { font-size: 74px; }
}

h2, .h2 {
	margin-bottom: 24px;
	font-size: 32px;
	line-height: 1.12;
	@include from-md() {
		font-size: 54px;
		margin-bottom: 50px;
	}
}

h3, .h3 {
	font-size: 22px;
	margin-bottom: 24px;
	line-height: 1.12;
	@include from-md() {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

h4, .h4 {
	font-size: 12px;
	margin-bottom: 1.5em;
	line-height: 1.12;
	@include from-md() {
		font-size: 22px;
	}
}

p, blockquote {
    line-height: 1.8;
}

.fw {
    &-semibold { font-weight: 600 !important; }
    &-bolder { font-weight: 800 !important; }
    &-black { font-weight: 900 !important; }
}

.fs {
    &-7 { font-size: 0.875rem !important; }
    &-8 { font-size: 0.75rem !important; }
    &-9 { font-size: 10px !important; }
    &-xs {
        @include from-xs() {
            &-1 { font-size: 2.5rem !important; }
            &-2 { font-size: 2rem !important; }
            &-3 { font-size: 1.75rem !important; }
            &-4 { font-size: 1.5rem !important; }
            &-5 { font-size: 1.25rem !important; }
            &-6 { font-size: 1rem !important; }
            &-7 { font-size: 0.875rem !important; }
            &-8 { font-size: 0.75rem !important; }
            &-9 { font-size: 10px !important; }
        }
    }
    &-sm {
        @include from-sm() {
            &-1 { font-size: 2.5rem !important; }
            &-2 { font-size: 2rem !important; }
            &-3 { font-size: 1.75rem !important; }
            &-4 { font-size: 1.5rem !important; }
            &-5 { font-size: 1.25rem !important; }
            &-6 { font-size: 1rem !important; }
            &-7 { font-size: 0.875rem !important; }
            &-8 { font-size: 0.75rem !important; }
            &-9 { font-size: 10px !important; }
        }
    }
    &-md {
        @include from-md() {
            &-1 { font-size: 2.5rem !important; }
            &-2 { font-size: 2rem !important; }
            &-3 { font-size: 1.75rem !important; }
            &-4 { font-size: 1.5rem !important; }
            &-5 { font-size: 1.25rem !important; }
            &-6 { font-size: 1rem !important; }
            &-7 { font-size: 0.875rem !important; }
            &-8 { font-size: 0.75rem !important; }
            &-9 { font-size: 10px !important; }
        }
    }
    &-lg {
        @include from-lg() {
            &-1 { font-size: 2.5rem !important; }
            &-2 { font-size: 2rem !important; }
            &-3 { font-size: 1.75rem !important; }
            &-4 { font-size: 1.5rem !important; }
            &-5 { font-size: 1.25rem !important; }
            &-6 { font-size: 1rem !important; }
            &-7 { font-size: 0.875rem !important; }
            &-8 { font-size: 0.75rem !important; }
            &-9 { font-size: 10px !important; }
        }
    }
    &-xl {
        @include from-xl() {
            &-1 { font-size: 2.5rem !important; }
            &-2 { font-size: 2rem !important; }
            &-3 { font-size: 1.75rem !important; }
            &-4 { font-size: 1.5rem !important; }
            &-5 { font-size: 1.25rem !important; }
            &-6 { font-size: 1rem !important; }
            &-7 { font-size: 0.875rem !important; }
            &-8 { font-size: 0.75rem !important; }
            &-9 { font-size: 10px !important; }
        }
    }
}

.text {
    &-sm {
        @include from-sm() {
            &-white {
                --bs-text-opacity: 1;
                color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
            }
            &-primary {
                --bs-text-opacity: 1;
                color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
            }
        }
    }
}