<section class="section advantages">
	<div class="container">
		<h2 class="mb-5">Преимущества</h2>
		<div class="row advantages__row">
			<div class="col-6 col-xl-3 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Качество</h3>
						<p class="advantage-content__text">Долговечные материалы и передовые технологии для безупречной работы</p>
					</div>
					<div class="advantage-image">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage1',
							'height': '',
							'width': '',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
			<div class="col-6 col-xl-3 order-xl-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Свет как<br> арт-объект</h3>
						<p class="advantage-content__text">Подойдёт для воплощения<br> любой творческой идеи</p>
					</div>
					<div class="advantage-image">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage4',
							'height': '',
							'width': '',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-6 advantage order-xl-last">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Синхронизация с музыкой</h3>
						<p class="advantage-content__text">Используйте Twinkly для оформления вечеринок</p>
					</div>
					<div class="advantage-image">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage3',
							'height': '',
							'width': '',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
			<div class="col-6 col-xl-6 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Дизайн</h3>
						<p class="advantage-content__text">Изысканные модели, идеально <br> дополняющие ваш интерьер</p>
					</div>
					<div class="advantage-image">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage2',
							'height': '274',
							'width': '373',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
			<div class="col-6 col-xl-12 order-xl-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Атмосфера</h3>
						<p class="advantage-content__text">Создайте уют, романтику, <br>праздничное настроение <br>с помощью Twinkly</p>
					</div>
					<div class="advantage-image">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage5',
							'height': '',
							'width': '',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-6 order-xl-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content position-absolute">
						<h3 class="advantage-content__title">Функциональность</h3>
						<p class="advantage-content__text">Управляйте освещением <br>с помощью приложения, <br>создавайте уникальные эффекты</p>
					</div>
					<div class="advantage-image w-75 mt-auto ms-auto">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage6',
							'height': '',
							'width': '',
							'class': 'img-fluid',
						})
					</div>
				</div>
			</div>
		</div>
	</div>
</section>