<section class="section advantages">
	<div class="container">
		<div class="section-headline">
			<h2 class="mb-0">Преимущества</h2>
		</div>
		<div class="row advantages__row">
			<div class="col-6 col-lg-3 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Качество</h3>
						<p class="advantage-content__text">Долговечные материалы и передовые технологии для безупречной работы</p>
					</div>
					<div class="advantage-img">
						<picture>
							<source media="(min-width: 767px)" srcset="img/advantage1.webp" type="image/webp">
							<source media="(max-width: 768px)" srcset="img/advantage1-xs.webp" type="image/webp">
							<source media="(min-width: 767px)" srcset="img/advantage1.png" type="image/png">
							<source media="(max-width: 768px)" srcset="img/advantage1-xs.png" type="image/png">
							<img src="img/advantage1.png" class="img-fluid" alt="">
						</picture>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3 order-lg-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Свет как<br class="d-none d-lg-block"> арт-объект</h3>
						<p class="advantage-content__text">Подойдёт для воплощения<br> любой творческой идеи</p>
					</div>
					<div class="advantage-img">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage4',
							'height': '',
							'width': '',
							'class': '',
						})
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 advantage order-lg-last">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Синхронизация с музыкой</h3>
						<p class="advantage-content__text">Используйте Twinkly для оформления вечеринок</p>
					</div>
					<div class="advantage-img">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage3',
							'height': '',
							'width': '',
							'class': '',
						})
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-6 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Дизайн</h3>
						<p class="advantage-content__text">Изысканные модели, идеально <br> дополняющие ваш интерьер</p>
					</div>
					<div class="advantage-img">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage2',
							'height': '274',
							'width': '373',
							'class': '',
						})
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-12 order-lg-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content">
						<h3 class="advantage-content__title">Атмосфера</h3>
						<p class="advantage-content__text">Создайте уют, романтику, <br class="">праздничное настроение <br class="">с помощью Twinkly</p>
					</div>
					<div class="advantage-img">
						<picture>
							<source media="(min-width: 767px)" srcset="img/advantage5.webp" type="image/webp">
							<source media="(max-width: 768px)" srcset="img/advantage5-xs.webp" type="image/webp">
							<source media="(min-width: 767px)" srcset="img/advantage5.png" type="image/png">
							<source media="(max-width: 768px)" srcset="img/advantage5-xs.png" type="image/png">
							<img src="img/advantage5.png" class="img-fluid" alt="">
						</picture>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 order-lg-1 advantage">
				<div class="advantage-item">
					<div class="advantage-content position-absolute">
						<h3 class="advantage-content__title">Функциональность</h3>
						<p class="advantage-content__text">Управляйте освещением <br>с помощью приложения, <br>создавайте уникальные эффекты</p>
					</div>
					<div class="advantage-img">
						@@include('../bem-blocks/_png.html', {
							'img': 'advantage6',
							'height': '',
							'width': '',
							'class': '',
						})
					</div>
				</div>
			</div>
		</div>
	</div>
</section>