<section class="section blog-section">
	<div class="container">
		<div class="section-headline d-flex justify-content-between align-items-sm-center flex-column row-gap-4 flex-sm-row">
			<h2 class="m-0">Блог</h2>
			@@include('../bem-blocks/_page-link.html', {
				'text': 'Все статьи',
				'url': 'blog.html',
				'class': ''
			})
		</div>

		<div class="swiper blog-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="#" class="blog-card">
						<div class="blog-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'blog-img-1',
								'height': '185',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="blog-card__content">
							<span class="blog-card__category">Outdoor</span>
							<p class="blog-card__text">The ultimate guide to decorating outdoor summer parties with smart lighting</p>
						</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#" class="blog-card">
						<div class="blog-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'blog-img-2',
								'height': '185',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="blog-card__content">
							<span class="blog-card__category">Home Decor</span>
							<p class="blog-card__text">The ultimate guide to decorating outdoor summer parties with smart lighting smart lighting</p>
						</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#" class="blog-card">
						<div class="blog-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'blog-img-3',
								'height': '185',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="blog-card__content">
							<span class="blog-card__category">Home Decor</span>
							<p class="blog-card__text">The ultimate guide to decorating outdoor summer parties with smart lighting</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>