<section class="section">
	<div class="container">
		<div class="d-none d-sm-flex gap-2 justify-content-between flex-wrap mb-5">
			<h2 class="m-0 h1">Twinkly Pro</h2>
			<div class="h2 m-0">идеальное решение<br> для ваших проектов</div>
		</div>
		<div class="bnr">
			<div class="bnr-content">
				<div class="d-flex d-sm-none flex-column">
					<h2 class="mb-3 fw-normal">Twinkly Pro</h2>
					<p class="m-0 fs-5 lh-base">идеальное решение<br> для ваших проектов</p>
				</div>
				<a href="#" class="btn btn-white mt-auto d-none d-sm-flex">Для оптовых покупателей</a>
			</div>
			<picture>
				<source media="(min-width: 576px)" srcset="img/brn.webp" type="image/webp">
				<source media="(max-width: 575px)" srcset="img/brn-xs.webp" type="image/webp">
				<source media="(min-width: 576px)" srcset="img/brn.jpg" type="image/jpeg">
				<source media="(max-width: 575px)" srcset="img/brn-xs.jpg" type="image/jpeg">
				<img src="img/bnr.jpg" class="img-fluid rounded-3" alt="">
			</picture>
		</div>
		<a href="#" class="btn btn-white d-flex d-sm-none mt-4">Для оптовых покупателей</a>
	</div>
</section>