<section class="section collections">
	<div class="container">
		<div class="section-headline">
			<h2 class="m-0">Коллекции</h2>
		</div>

		<div class="swiper collections-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="collection-card">
						<div class="collection-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'collection-img-1',
								'height': '440',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="collection-card__content">
							<h3>Преобразить летний сад или веранду</h3>
							<a href="#" class="btn btn-white">Смотреть примеры</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="collection-card">
						<div class="collection-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'collection-img-2',
								'height': '440',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="collection-card__content">
							<h3>Обустроить рабочее пространство</h3>
							<a href="#" class="btn btn-white">Смотреть примеры</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="collection-card">
						<div class="collection-card__img">
							@@include('../bem-blocks/_jpg.html', {
								'img': 'collection-img-3',
								'height': '440',
								'width': '374',
								'class': '',
							})
						</div>
						<div class="collection-card__content">
							<h3>Украсить <br>игровую зону</h3>
							<a href="#" class="btn btn-white">Смотреть примеры</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>