<section class="section combination">
	<div class="container">
		<div class="section-headline">
			<h2 class="m-0">Комбинируйте и настраивайте</h2>
		</div>

		<div class="swiper combination-slider">
			<div class="swiper-wrapper">
				<div class="swiper-pagination"></div>
				<div class="swiper-slide">
					<div class="combination-item">
						<div class="combination-item__img">
							<img src="img/matrix.webp" alt="" class="img-fluid" loading="lazy" data-img="lines">
						</div>
						<form class="combination-item__form">
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="1">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-6.svg" alt="">
									<span>Squares</span>
								</div>
							</label>
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="2">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-7.svg" alt="">
									<span>Dots</span>
								</div>
							</label>
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="3">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-8.svg" alt="">
									<span>Flex</span>
								</div>
							</label>
							<div class="combination-item__control">
								<button type="button" class="swiper-button-prev"></button>
								<button type="button" class="swiper-button-next"></button>
							</div>
						</form>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="combination-item">
						<div class="combination-item__img">
							<img src="img/matrix.webp" alt="" class="img-fluid" loading="lazy" data-img="dots">
						</div>
						<form class="combination-item__form">
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="1">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-6.svg" alt="">
									<span>Squares</span>
								</div>
							</label>
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="2">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-7.svg" alt="">
									<span>Dots</span>
								</div>
							</label>
							<label class="product-filter-item">
								<input type="checkbox" class="visually-hidden" name="img-type" value="3">
								<div class="product-filter-item__wrap">
									<img src="img/filter-icon-8.svg" alt="">
									<span>Flex</span>
								</div>
							</label>
							<div class="combination-item__control">
								<button type="button" class="swiper-button-prev"></button>
								<button type="button" class="swiper-button-next"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>