<section class="section design-carousel">
	<div class="container">
		<div class="section-headline d-flex justify-content-between align-items-md-center flex-column row-gap-3 flex-md-row">
			<h2 class="m-0">Ваши проекты будут сиять</h2>
			@@include('../bem-blocks/_page-link.html', {
				'text': 'Стать партнёром Twinkly',
				'url': '#',
				'class': 'd-inline-flex d-md-none'
			})
			<div class="swiper-control d-none d-md-flex">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>

		<div class="swiper design-carousel-desktop d-none d-md-block">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/tooltip-brn.webp" alt="" class="img-fluid">
				</div>
				<div class="swiper-slide">
					<img src="img/tooltip-brn.webp" alt="" class="img-fluid">
				</div>
			</div>
		</div>

		<div class="swiper design-carousel-mobile d-block d-md-none">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-1', 'height': '', 'width': '', 'class': '' })
				</div>
				<div class="swiper-slide">
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-2', 'height': '', 'width': '', 'class': '' })
				</div>
				<div class="swiper-slide">
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-3', 'height': '', 'width': '', 'class': '' })
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center">
			@@include('../bem-blocks/_page-link.html', {
				'text': 'Стать партнёром Twinkly',
				'url': '#',
				'class': 'page-link--lg d-none d-md-flex mt-5 mb-3'
			})
		</div>
	</div>
</section>