<section class="section overflow-hidden stories">
	<div class="container">
		<div class="section-headline d-flex justify-content-between align-items-sm-center flex-column row-gap-3 row-gap-sm-4 flex-sm-row">
			<h2 class="m-0">@@title</h2>
			@@if(link) {
				@@include('../bem-blocks/_page-link.html', {
					'text': 'Преукрась свой игровой опыт',
					'url': 'for-gamers.html',
					'class': 'd-flex d-sm-none'
				})
			}
		</div>

		<div class="swiper stories-slider">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
				<div class="swiper-slide"><div class="stories-item"></div></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		@@if(link) {
			<div class="row justify-content-center d-none d-sm-flex">
				<div class="col-auto mt-5">
					@@include('../bem-blocks/_page-link.html', {
						'text': 'Преукрась свой игровой опыт',
						'url': 'for-gamers.html',
						'class': 'page-link--lg'
					})
				</div>
			</div>
		}
	</div>
</section>