<header class="header">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-auto">
				<a href="/" class="logo header__logo">
					@@include('../bem-blocks/_sprite.html', {
						'id': 'logo',
						'class': '',
						'height': '55',
						'width': '130',
					})
				</a>
			</div>
			<div class="col-auto">
				@@include('_nav.html')
			</div>
			<div class="col-auto">
				<div class="d-flex gap-4 align-items-end">
					<a href="#" class="nav-link">
						@@include('../bem-blocks/_sprite.html', {
							'id': 'user',
							'class': '',
							'height': '22',
							'width': '22',
						})
					</a>
					<a href="cart.html" class="nav-link header-cart" data-count="0">
						@@include('../bem-blocks/_sprite.html', {
							'id': 'cart',
							'class': '',
							'height': '22',
							'width': '22',
						})
					</a>
					<button class="btn-none d-lg-none text-inherit" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive">
						@@include('../bem-blocks/_sprite.html', {
							'id': 'menu',
							'class': '',
							'height': '32',
							'width': '32',
						})
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
