<header class="header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-auto d-none d-sm-block">
				<a href="/" class="logo">
					LOSEVA<span>FIT</span>
				</a>
			</div>
			<div class="col-auto ms-auto">
				@@include('_nav.html')
			</div>
			<div class="col-auto">
				<button class="nav-btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive">
					<!-- @@include('../bem-blocks/_sprite.html', {
						'id': 'menu-btn',
						'class': '',
						'height': '24',
						'width': '24',
					}) -->
				</button>
			</div>
		</div>
	</div>
</header>
