<section class="hero">
	<div class="hero-img">
		<picture>
			<source media="(min-width: 576px)" srcset="img/hero.webp" type="image/webp">
			<source media="(max-width: 575px)" srcset="img/hero-xs.webp" type="image/webp">
			<source media="(min-width: 576px)" srcset="img/hero.jpg" type="image/jpeg">
			<source media="(max-width: 575px)" srcset="img/hero-xs.jpg" type="image/jpeg">
			<img src="img/hero.jpg" class="" alt="">
		</picture>
	</div>
	<div class="hero-wrap">
		<div class="hero-mask"></div>
		<div class="container">
			<h1 class="hero-title">Свет<br> <span>создающий настроение</span></h1>
		</div>
	</div>
</section>