<section class="section">
	<div class="container">
		<h2 class="mb-5">Вдохновение</h2>

		<div class="tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-list">
					<a href="#classic" class="nav-link active" data-bs-toggle="tab" role="tab">Классика</a>
					<a href="#scandinavian" class="nav-link" data-bs-toggle="tab" role="tab">Скандинавский стиль</a>
					<a href="#mid-century" class="nav-link" data-bs-toggle="tab" role="tab">Mid-century</a>
					<a href="#loft" class="nav-link" data-bs-toggle="tab" role="tab">Лофт</a>
					<a href="#minimalism" class="nav-link" data-bs-toggle="tab" role="tab">Минимализм</a>
				</li>
			</ul>
	
			<div class="tab-content">
				<div class="tab-pane fade active show" role="tabpanel" id="classic">
					<picture>
						<source media="(min-width: 576px)" srcset="img/insp.webp" type="image/webp">
						<source media="(max-width: 575px)" srcset="img/insp-xs.webp" type="image/webp">
						<source media="(min-width: 576px)" srcset="img/insp.jpg" type="image/jpeg">
						<source media="(max-width: 575px)" srcset="img/insp-xs.jpg" type="image/jpeg">
						<img src="img/insp.jpg" class="rounded-2 rounded-sm-3 img-fluid" loading="lazy" alt="">
					</picture>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="scandinavian">
					<picture>
						<source media="(min-width: 576px)" srcset="img/insp.webp" type="image/webp">
						<source media="(max-width: 575px)" srcset="img/insp-xs.webp" type="image/webp">
						<source media="(min-width: 576px)" srcset="img/insp.jpg" type="image/jpeg">
						<source media="(max-width: 575px)" srcset="img/insp-xs.jpg" type="image/jpeg">
						<img src="img/insp.jpg" class="rounded-2 rounded-sm-3 img-fluid" loading="lazy" alt="">
					</picture>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="mid-century">
					<picture>
						<source media="(min-width: 576px)" srcset="img/insp.webp" type="image/webp">
						<source media="(max-width: 575px)" srcset="img/insp-xs.webp" type="image/webp">
						<source media="(min-width: 576px)" srcset="img/insp.jpg" type="image/jpeg">
						<source media="(max-width: 575px)" srcset="img/insp-xs.jpg" type="image/jpeg">
						<img src="img/insp.jpg" class="rounded-2 rounded-sm-3 img-fluid" loading="lazy" alt="">
					</picture>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="loft">
					<picture>
						<source media="(min-width: 576px)" srcset="img/insp.webp" type="image/webp">
						<source media="(max-width: 575px)" srcset="img/insp-xs.webp" type="image/webp">
						<source media="(min-width: 576px)" srcset="img/insp.jpg" type="image/jpeg">
						<source media="(max-width: 575px)" srcset="img/insp-xs.jpg" type="image/jpeg">
						<img src="img/insp.jpg" class="rounded-2 rounded-sm-3 img-fluid" loading="lazy" alt="">
					</picture>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="minimalism">
					<picture>
						<source media="(min-width: 576px)" srcset="img/insp.webp" type="image/webp">
						<source media="(max-width: 575px)" srcset="img/insp-xs.webp" type="image/webp">
						<source media="(min-width: 576px)" srcset="img/insp.jpg" type="image/jpeg">
						<source media="(max-width: 575px)" srcset="img/insp-xs.jpg" type="image/jpeg">
						<img src="img/insp.jpg" class="rounded-2 rounded-sm-3 img-fluid" loading="lazy" alt="">
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>
