<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
	<div class="offcanvas-header">
		<div class="logo">LOSEVA<span>FIT</span></div>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="nav nav-main">
			<ul class="nav-list d-flex flex-column flex-sm-row gap-sm-3 gap-xl-4">
				<li><a href="#about" class="nav-link">Каталог</a></li>
				<li><a href="#work" class="nav-link">Геймерам</a></li>
				<li><a href="#training" class="nav-link">Дизайнерам</a></li>
				<li><a href="#nutrition" class="nav-link">Бизнесу</a></li>
			</ul>
		</div>
	</div>
</div>