<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
	<div class="offcanvas-header">
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="nav nav-header">
			<ul class="navbar-nav flex-lg-row gap-lg-5">
				<li class="nav-item"><a href="/catalog.html" class="nav-link active">Каталог</a></li>
				<li class="nav-item"><a href="/for-gamers.html" class="nav-link">Геймерам</a></li>
				<li class="nav-item"><a href="/for-designers.html" class="nav-link">Дизайнерам</a></li>
				<li class="nav-item"><a href="/for-business.html" class="nav-link">Бизнесу</a></li>
			</ul>
		</div>
	</div>
</div>