<section class="section options">
	<div class="container">
		<div class="section-headline">
			<h2 class="m-0">Кастомизация нового уровня</h2>
		</div>
		<div class="row options-row">
			<div class="col-md-7 col-lg-8 col-xl-6">
				<div class="swiper options-slider">
					<div class="options-list swiper-wrapper">
						<div class="options-item swiper-slide">
							<div class="options-item__img d-block d-md-none">
								@@include('../bem-blocks/_png.html', {
									'img': 'opt1',
									'height': '540',
									'width': '570',
									'class': '',
								})
							</div>
							<div class="options-item__content">
								<div class="options-item__icon">
									@@include('../bem-blocks/_sprite.html', {
										'id': 'opt1',
										'height': '100',
										'width': '100',
										'class': '',
									})
								</div>
								<div class="options-item__text">Уникальная система настройки свечения с точностью до диода</div>
							</div>
						</div>
						<div class="options-item swiper-slide">
							<div class="options-item__img d-block d-md-none">
								@@include('../bem-blocks/_png.html', {
									'img': 'opt2',
									'height': '540',
									'width': '570',
									'class': '',
								})
							</div>
							<div class="options-item__content">
								<div class="options-item__icon">
									@@include('../bem-blocks/_sprite.html', {
										'id': 'opt2',
										'height': '100',
										'width': '100',
										'class': '',
									})
								</div>
								<div class="options-item__text">Потоковая передача контента с экрана в реальном времени</div>
							</div>
						</div>
						<div class="options-item swiper-slide">
							<div class="options-item__img d-block d-md-none">
								@@include('../bem-blocks/_png.html', {
									'img': 'opt1',
									'height': '540',
									'width': '570',
									'class': '',
								})
							</div>
							<div class="options-item__content">
								<div class="options-item__icon">
									@@include('../bem-blocks/_sprite.html', {
										'id': 'opt3',
										'height': '100',
										'width': '100',
										'class': '',
									})
								</div>
								<div class="options-item__text">Интеграция с Razer Chroma™ RGB и OMEN Light Studio</div>
							</div>
						</div>
						<div class="options-item swiper-slide">
							<div class="options-item__img d-block d-md-none">
								@@include('../bem-blocks/_png.html', {
									'img': 'opt2',
									'height': '540',
									'width': '570',
									'class': '',
								})
							</div>
							<div class="options-item__content">
								<div class="options-item__icon">
									@@include('../bem-blocks/_sprite.html', {
										'id': 'opt4',
										'height': '100',
										'width': '100',
										'class': '',
									})
								</div>
								<div class="options-item__text">Система управления сетью устройств как единым целым</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-4 col-xl-6 d-none d-md-block">
				<div class="options-images">
					<div class="options-images__item active">
						@@include('../bem-blocks/_png.html', {
							'img': 'opt1',
							'height': '540',
							'width': '570',
							'class': '',
						})
					</div>
					<div class="options-images__item">
						@@include('../bem-blocks/_png.html', {
							'img': 'opt2',
							'height': '540',
							'width': '570',
							'class': '',
						})
					</div>
					<div class="options-images__item">
						@@include('../bem-blocks/_png.html', {
							'img': 'opt1',
							'height': '540',
							'width': '570',
							'class': '',
						})
					</div>
					<div class="options-images__item">
						@@include('../bem-blocks/_png.html', {
							'img': 'opt2',
							'height': '540',
							'width': '570',
							'class': '',
						})
					</div>
				</div>
			</div>
		</div>
	</div>
</section>