<section class="section">
	<div class="container">
		<div class="section-headline">
			<h3 class="fw-bold">Характеристики</h3>
		</div>

		<div class="product-table">
			<h4>Характеристики продукта</h4>
			<ul class="product-table__list">
				<li>
					<span>Характеристики продукта</span>
					<span>10 × 2-4-6-2-5</span>
				</li>
				<li>
					<span>Расширяемость</span>
					<span>No</span>
				</li>
				<li>
					<span>Диаметр лампы, мм</span>
					<span>5.0</span>
				</li>
				<li>
					<span>Тип лампы</span>
					<span>Clear + Diffused flat lens</span>
				</li>
				<li>
					<span>Цвет светодиода</span>
					<span>RGBW - 16M+ colors + Warm white</span>
				</li>
				<li>
					<span>Тип светодиода</span>
					<span>Addressable LED</span>
				</li>
				<li>
					<span>Заменяемые светодиоды</span>
					<span>No</span>
				</li>
			</ul>
		</div>
		
		<div class="product-table m-0 d-none d-sm-block">
			<h4>Размеры продукта</h4>

			<ul class="product-table__list">
				<li>
					<span>Расстояние между каплями, см</span>
					<span>10.0</span>
				</li>
				<li>
					<span>Расстояние между светодиодами, см</span>
					<span>8.0</span>
				</li>
				<li>
					<span>Длина провода, м</span>
					<span>5.5</span>
				</li>
				<li>
					<span>Длина силового кабеля, м</span>
					<span>1.0</span>
				</li>
			</ul>
		</div>

		<div class="d-flex d-sm-none">
			@@include('../bem-blocks/_page-link.html', {
				'text': 'Смотреть все характеристики',
				'class': '',
			})
		</div>
	</div>
</section>

