<section class="section reviews">
	<div class="container">
		<div class="section-headline d-flex justify-content-between flex-column align-items-sm-center row-gap-4 flex-sm-row">
			<h2 class="m-0">Обзоры</h2>
			<div class="d-none d-md-flex gap-3">
				<button class="swiper-button-prev position-relative" type="button"></button>
				<button class="swiper-button-next position-relative" type="button"></button>
			</div>
		</div>

		<div class="swiper reviews-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					@@include('../bem-blocks/_video-btn.html', {'class': 'review-item'})
				</div>
				<div class="swiper-slide">
					@@include('../bem-blocks/_video-btn.html', {'class': 'review-item'})
				</div>
				<div class="swiper-slide">
					@@include('../bem-blocks/_video-btn.html', {'class': 'review-item'})
				</div>
			</div>
		</div>
	</div>
</section>