<section class="section">
	<div class="container">
		<div class="p-3 p-sm-4 bg-primary rounded-3 d-flex flex-column gap-4">
			<h2 class="fs-6 fs-sm-4 m-0">Хотите узнать больше о световом дизайне? <br>Подпишитесь на нашу рассылку!</h2>
			<form action="">
				<div class="row row-gap-4">
					<div class="col">
						<input type="email" class="form-control" placeholder="Ваш e-mail" required>
					</div>
					<div class="col-12 col-md-auto">
						<button class="btn w-100 btn-dark">
							<span>Подписаться</span>
							@@include('../bem-blocks/_sprite.html', { 'id': 'arr-right', 'height': '20', 'width': '20', 'class': '', })
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>