<section class="section subscribe-section">
	<div class="container">
		@@if(headline) {
			<div class="section-headline">
				<h2 class="m-0">Партнерская программа</h2>
			</div>
		}
		<div class="subscribe-section__wrap">
			<div class="form-msg">
				<div class="form-msg__title">Отправлено!</div>
				<div class="form-msg__text">Cпасибо блаблабла тут какой-то копирайт</div>
			</div>
			<h2 class="subscribe-title">@@title</h2>
			<form class="subscribe-form">
				<div class="row subscribe-row">
					<div class="col">
						<input type="email" class="form-control" placeholder="Ваш e-mail" required>
					</div>
					<div class="col-12 col-md-auto">
						<button class="btn w-100 btn-dark">
							<span>Подписаться</span>
							@@include('../bem-blocks/_sprite.html', { 'id': 'arr-right', 'height': '20', 'width': '20', 'class': '', })
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>