<div class="bg-primary text-ticker">
	<div class="text-ticker__content">
		<span>Настраиваемые персонализировванные анимации</span>
		<span>Премиальные световые решения для любого случая</span>
		<span> Уникальное освещение вашего дома</span>
		<span>Настраиваемые персонализировванные анимации</span>
		<span>Премиальные световые решения для любого случая</span>
		<span> Уникальное освещение вашего дома</span>
		<span>Настраиваемые персонализировванные анимации</span>
		<span>Премиальные световые решения для любого случая</span>
		<span> Уникальное освещение вашего дома</span>
		<span>Настраиваемые персонализировванные анимации</span>
		<span>Премиальные световые решения для любого случая</span>
		<span> Уникальное освещение вашего дома</span>
	</div>
</div>