<section class="section pin-section">
	<div class="container">
		<div class="section-headline d-flex justify-content-between align-items-start flex-column row-gap-4 flex-lg-row">
			<h2 class="m-0">Премиальное освещение <br> для любого случая</h2>
			<a href="#" class="d-flex align-items-center text-decoration-none py-sm-4 fs-6 fs-sm-5">
				<span>Преобразить свой интерьер</span>
				@@include('../bem-blocks/_sprite.html', {
					'id': 'arr-right',
					'height': '20',
					'width': '20',
					'class': '',
				})
			</a>
		</div>

		<div class="swiper pin-slider pin-slider--desktop d-none d-md-block">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="position-relative">
						<img src="img/tooltip-brn.png" alt="" class="img-fluid">
						@@include('../bem-blocks/_pin.html', { 'class': 'pin--1', 'position': 'top-right' })
						@@include('../bem-blocks/_pin.html', { 'class': 'pin--2', 'position': 'bottom-left' })
						@@include('../bem-blocks/_pin.html', { 'class': 'pin--3', 'position': 'center-left' })
					</div>
				</div>
			</div>
		</div>

		<div class="swiper pin-slider pin-slider--mobile d-block d-md-none">
			<div class="swiper-wrapper">
				<div class="swiper-slide pin-slide">
					@@include('../bem-blocks/_pin.html', { 'class': 'pin--4', 'position': 'top-right' })
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-1', 'height': '433', 'width': '302', 'class': 'rounded-2' })
				</div>
				<div class="swiper-slide pin-slide">
					@@include('../bem-blocks/_pin.html', { 'class': 'pin--5', 'position': 'bottom-right' })
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-2', 'height': '433', 'width': '302', 'class': 'rounded-2' })
				</div>
				<div class="swiper-slide pin-slide">
					@@include('../bem-blocks/_pin.html', { 'class': 'pin--6', 'position': 'top-right' })
					@@include('../bem-blocks/_jpg.html', { 'img': 'pin-slide-3', 'height': '433', 'width': '302', 'class': 'rounded-2' })
				</div>
			</div>
		</div>
	</div>
</section>