<div class="top-bnr">
	<div class="container">
		<div class="top-bnr-item">
			<div class="top-bnr-img">
				<picture>
					<source media="(min-width: 768px)" srcset="img/top-brn.webp" type="image/webp">
					<source media="(max-width: 767px)" srcset="img/top-brn-xs.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="img/top-brn.jpg" type="image/jpeg">
					<source media="(max-width: 767px)" srcset="img/top-brn-xs.jpg" type="image/jpeg">
					<img src="img/top-bnr.jpg" class="img-fluid" alt="">
				</picture>
			</div>
			<div class="top-bnr-content">
				<div class="section-headline m-0 d-flex justify-content-between align-items-md-end flex-column row-gap-2 flex-md-row">
					<h2 class="m-0">Идеи подсветки <br>бассейна</h2>
					@@include('../bem-blocks/_page-link.html', {
						'text': 'Преобразить свой интерьер',
						'url': '#',
						'class': 'd-flex d-md-none'
					})
					<a href="#" class="btn btn-sm btn-white d-none d-md-flex">Смотреть подборку</a>
				</div>
			</div>
		</div>
	</div>
</div>